* {
  box-sizing: border-box;
  margin: 0; 
  padding: 0;
}

.row {
  width: 90%;
  margin: auto;
}

.container {
  padding: 40px;
}

.container.grey {
  background-color: #f9f9f9;
}

/* BLOCCO LEZIONI */
#lezioni {
  text-align: center;
}

#lezioni [class*="col-"]:not(:last-child),
#lezioni h1 {
  margin-bottom: 40px;
}

/* BLOCCO STEPS */
#steps {
  text-align: center;
}

#steps h1 {
  margin-bottom: 40px;
}

#steps [class*="col-"] {
  margin-top: 40px;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why [class*="col-"] {
  margin-top: 40px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
img {
  height: 200px;
}



/* risoluzione XS - small devices */
@media all and (max-width: 767px) {
  
  img {
    height: 150px;
  }

  .container:nth-child(odd) {
    background-color: rgb(240, 237, 192);
  }  
}

/* risoluzione MD - medium devices */
@media screen and (min-width: 768px) and (max-width: 991px) {

  #steps [class*="col-"] {
    margin-bottom: 40px;
  }

}